/* Home.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  padding: 25px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.header button {
  background-color: green;
  width: 180px;
  height: 50px;
  font-size: 1rem;
}

.button:hover {
  background-color: #005F6B;
}

.body {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.body th, .body td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.body th {
  background-color: black;
  color: white;
}

.body tr:nth-child(even) {
  background-color: #f2f2f2;
} 

.body tr:hover {
  background-color: #ddd;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5)
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}

.modal button { 
  width: 90px;
  height: 40px;
  cursor: pointer;
  border: none;
}

.modal #btn-sim {
  background-color: #4CAF50;
}

.modal #btn-cancel {
  background-color: red;
}

.td-actions {
  width: 200px;
}

.buttonOptions {
  display: flex;
  justify-content: space-around;
}

.btn-editar {
  background-color: blue;
}

.btn-editar:hover {
  background-color: #00008B;
}

.btn-excluir {
  background-color: red;
}

.btn-excluir:hover {
  background-color: #8B0000;
}

.disabled-button {
  background-color: #ccc;
  cursor: not-allowed;
}